.cart-widget {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end; 
  text-decoration: none;
  color: #2D2AFF;
  font-size: 1.8rem;
  padding: 0 10px; 
  min-width: 50px; 
  height: 100%; 
}

.cart-icon {
  display: inline-block;
  transition: transform 0.2s;
}

.cart-widget:hover .cart-icon {
  transform: scale(1.2);
}

.cart-count {
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: #FF4D4F;
  color: #fff;
  font-size: 0.8rem;
  font-weight: bold;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}
