.item-list {
  display: flex;
  flex-wrap: wrap; 
  gap: 20px; 
  justify-content: center; 
  margin: 20px 0;
}


.item-card {
  background-color: #fdf0f9; 
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  padding: 15px;
  width: 220px; 
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.item-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 12px rgba(0,0,0,0.2);
}

.item-card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}

.item-card h3 {
  font-size: 1rem;
  margin: 5px 0;
  text-align: center;
}

.item-card p {
  font-size: 0.85rem;
  text-align: center;
  margin: 5px 0;
}

.item-card span {
  font-weight: bold;
  color: #333;
  margin: 5px 0;
}