/* Root de la app */
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: Arial, sans-serif;
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FFDDFD; 
  padding: 15px 30px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  margin-bottom: 40px;
}

.navbar h1, .navbar a {
  color: #2D2AFF; 
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
}


.navbar-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navbar-links a.active {
  border-bottom: 2px solid #2D2AFF;
}


.custom-button, .add-to-cart-btn {
  padding: 12px 25px;
  background-color: #FFDDFD;
  color: #2D2AFF;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.2s ease;
}

.custom-button:hover, .add-to-cart-btn:hover {
  background-color: #FFC0E0;
  transform: translateY(-2px);
}

.item-detail {
  max-width: 800px;
  margin: 0 auto 40px auto;
  padding: 20px;
  border-radius: 12px;
  background-color: #fff;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.item-detail img {
  max-width: 400px;
  width: 100%;
  border-radius: 12px;
}

.item-detail h2 {
  color: #2D2AFF;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.item-detail h4 {
  color: #222;
}

.item-detail p {
  color: #555;
  text-align: center;
  line-height: 1.4;
}
